<h1>Hotel T</h1>
<h3>Please provide your details below and we will contact you within 24 hours</h3><br><br>

<%= simple_form_for @enquiry , url: '/create' do |f| %>
  <%= f.input :name %><br>
  Email address<br><%= f.text_area :email %><br>
  Phone number<br> <%= f.text_area :phone %><br>
  Message <br>     <%= f.text_area :message %><br>

  <%= f.submit %>
  <% end %>
