<h1>Hotel T</h1>
<h3>call us on 12345678</h3><br><br>

<%= simple_form_for @enquiry , url: '/create' do |f| %>
  <%= f.input :name %><br>
  <%= f.text_area :email %>
  <%= f.text_area :phone %>
  <%= f.text_area :message %>

  <%= f.submit %>
  <% end %>
